*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c085cf;
    color: #333;
    line-height: 1.6;
}
h1, h2, h3{
    color: #444;
}
header{ 
    background: #390162;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
header h1{
    margin-left: 20px;
}
header button{
    background: #fff;
    color: #390162;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}
header button:hover{
    background: #f4f4f4;
    color: #290042;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #290042;
}
.gIma{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gIma h3{
    margin-bottom: 10px;
}
.txt1{
    width: 50%;
    font-size: 18px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.btns{
    text-align: center;
    margin-bottom: 30px;
}
button{
    background: #a678c8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}
button:hover{
    background: #8a57a3;
}
.jeu{
    text-align: center;
    margin-bottom: 30px;
}

.restriction{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 60%;
    margin: 0 auto 30px auto;
    display: flex;
}
.txt2{
    flex: 2;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.restriction div{
    flex: 1;
    padding: 10px;
}
.restriction img{
    max-width: 100%;
    border-radius: 10px;
}
footer{
    background: #390162;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    margin: 0;
}
footer a{
    color: #fff;
    text-decoration: underline;
}
footer a:hover{
    color: #ddd;
}
@media (max-width: 768px){
    .main{
        flex-direction: column;
    }
    .txt1{
        width: 90%;
        margin-top: 20px;
    }
    .restriction{
        flex-direction: column;
    }
    .restriction div{
        margin-bottom: 20px;
    }
}
